<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{'Accueil' | traduction}}</a></li>
            <li class="breadcrumb-item"><a class="text-primary" [routerLink]="'/objectifglobal'">{{'Objectifs annuels' | traduction}}</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewObjectifglobal">{{'Nouveau' | traduction}}</li>
            <li class="breadcrumb-item active" *ngIf="!isNewObjectifglobal">{{'Editer' | traduction}}</li>
        </ol>
    </nav>

    <h1 *ngIf="!isNewObjectifglobal" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            {{'Supprimer' | traduction}}
        </button> {{"Modifier l'objectif de l'année" | traduction}} {{objectifglobal.annee}}
    </h1>
    <h1 *ngIf="isNewObjectifglobal" class="titre">{{'Ajouter un objectif annuel' | traduction}}</h1>

    <div class="first-step">
        <p>
            {{'Informations' | traduction}}
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Code" | traduction}}</span>
                        <input [(ngModel)]="objectifglobal.annee" type="number" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Montant" | traduction}}</span>
                        <input [(ngModel)]="objectifglobal.montant" type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">
                    {{'Enregistrer' | traduction}}
                </button>
            </div>
        </div>
    </div>

</div>