.bg-vert {
    background-color: #60a917;
    color: white;
}

.bg-orange {
    background-color: #fa6800 !important;
    color: white;
}

.bg-bleu-clair {
    background-color: #00AFF0 !important;
    color: white;
}

.bg-jaune {
    background-color: #878787 !important;
    color: white;
}

.stats {
    line-height: 1.15;
}

.libelle {
    font-size: 14px;
}