<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{'Accueil' | traduction}}</a></li>
            <li class="breadcrumb-item"><a class="text-primary" [routerLink]="'/client'">{{'Clients' |
                    traduction}}</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewClient">{{'Nouveau' | traduction}}</li>

            <li class="breadcrumb-item active" *ngIf="!isNewClient">
                <a class="text-primary" [routerLink]="'/client/view/' + client.id">
                    {{client.nom}}
                </a>
            </li>

            <li class="breadcrumb-item active" *ngIf="!isNewClient">{{'Editer' | traduction}}</li>
        </ol>
    </nav>

    <h1 *ngIf="!isNewClient" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            {{'Supprimer' | traduction}}
        </button> {{'Modifier : ' | traduction}} {{client.noms}} {{client.prenoms}}
    </h1>
    <h1 *ngIf="isNewClient" class="titre">{{'Ajouter un client' | traduction}}</h1>

    <div class="first-step">
        <p>
            {{'Informations' | traduction}}
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Code" | traduction}}</span>
                        <input [(ngModel)]="client.code" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Nom" | traduction}}</span>
                        <input [(ngModel)]="client.nom" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Tel" | traduction}}</span>
                        <input [(ngModel)]="client.tel" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Téléphone" | traduction}}</span>
                        <input [(ngModel)]="client.tel" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Email" | traduction}}</span>
                        <input [(ngModel)]="client.email" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Categorie" | traduction}}</span>
                        <select [(ngModel)]="client.categorie" class="form-control">
                            <option value="ONG">ONG</option>
                            <option value="Public">Entreprise publique</option>
                            <option value="Privee">Entreprise privée</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Secteur" | traduction}}</span>
                        <input [(ngModel)]="client.secteur" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">
                    {{'Enregistrer' | traduction}}
                </button>
            </div>
        </div>
    </div>

</div>