<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{'Accueil' | traduction}}</a></li>
            <li class="breadcrumb-item"><a class="text-primary" [routerLink]="'/produit-type'">{{'Types de produits' | traduction}}</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewProduitType">{{'Nouveau' | traduction}}</li>

            <li class="breadcrumb-item active" *ngIf="!isNewProduitType">
                {{produitType.nom}}
            </li>
        </ol>
    </nav>

    <a class="text-primary" [routerLink]="'/produit-type/edit/' + produitType.id" style="float: right;">{{'Modifier' | traduction}}</a>
    <h1 *ngIf="!isNewProduitType" class="titre">
        {{produitType.nom}}
    </h1>

    <div class="first-step">
        <div class="stats mb-4 mt-4">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-bg-primary text-center p-3">
                        <h1>
                            {{getObjectif().montant | nombre}}
                        </h1>
                        <div>
                            Objectif pour le {{getObjectif().dateFin | date: 'yyyy-MM-dd'}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-bg-primary text-center p-3">
                        <h1>
                            {{0}}
                        </h1>
                        <div>
                            Product items
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-bg-primary text-center p-3">
                        <h1>
                            {{0}}
                        </h1>
                        <div>
                            Sales
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" page-contenu mt-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <p>
                                    {{'Informations' | traduction}}
                                </p>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Code" | traduction}}</span>
                                <input readonly [value]="produitType.code" type="text" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Nom" | traduction}}</span>
                                <input readonly [value]="produitType.nom" type="text" class="form-control">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Support" | traduction}}</span>
                                <input readonly [value]="produitType.support" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>