<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{'Accueil' | traduction}}</a></li>
            <li class="breadcrumb-item"><a class="text-primary" [routerLink]="'/departement'">{{'Départements' |
                    traduction}}</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewDepartement">{{'Nouveau' | traduction}}</li>

            <li class="breadcrumb-item active" *ngIf="!isNewDepartement">
                <a class="text-primary" [routerLink]="'/departement/view/' + departement.id">
                    {{departement.nom}}
                </a>
            </li>

            <li class="breadcrumb-item active" *ngIf="!isNewDepartement">{{'Editer' | traduction}}</li>
        </ol>
    </nav>

    <h1 *ngIf="!isNewDepartement" class="titre">
        <button style="float: right;" (click)="delete()" class="btn btn-danger btn-error">
            {{'Supprimer' | traduction}}
        </button> {{'Modifier : ' | traduction}} {{departement.nom}}
    </h1>
    <h1 *ngIf="isNewDepartement" class="titre">{{'Ajouter un departement' | traduction}}</h1>

    <div class="first-step">
        <p>
            {{'Informations' | traduction}}
        </p>
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Code" | traduction}}</span>
                        <input [(ngModel)]="departement.code" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{"Nom" | traduction}}</span>
                        <input [(ngModel)]="departement.nom" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="save()" class="btn btn-primary">
                    {{'Enregistrer' | traduction}}
                </button>
            </div>
        </div>
    </div>

</div>