<ng-container *ngIf="user">
    <div class="row gx-0" style="height: 100vh; overflow: hidden;">
        <div class="col-lg-2">
            <app-menu-gauche></app-menu-gauche>
        </div>
        <div class="col-lg-10" style="height: 100vh; overflow-y: scroll;">
            <app-menu-haut></app-menu-haut>
            <div class="m-4 mt-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="logo">
        <img src="../assets/img/logo.jpg" alt="">
    </div>
</ng-container>
<ng-container *ngIf="!user">
    <router-outlet></router-outlet>
</ng-container>
<notifier-container></notifier-container>