<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{'Accueil' | traduction}}</a></li>
            <li class="breadcrumb-item"><a class="text-primary" [routerLink]="'/proforma'">{{'Proformas' |
                    traduction}}</a></li>
            <li class="breadcrumb-item active" *ngIf="isNewProforma">{{'Nouveau' | traduction}}</li>

            <li class="breadcrumb-item active" *ngIf="!isNewProforma">
                <a class="text-primary" [routerLink]="'/proforma/view/' + proforma.id">
                    Proforma {{proforma.id}} de {{proforma.commercial.noms}} {{proforma.commercial.prenoms}}
                </a>
            </li>

            <li class="breadcrumb-item active" *ngIf="!isNewProforma">{{'Editer' | traduction}}</li>
        </ol>
    </nav>

    <h1 *ngIf="!isNewProforma" class="titre">
        Proforma : {{proforma.id}} de {{proforma.commercial.noms}} {{proforma.commercial.prenoms}}
    </h1>
    <h1 *ngIf="isNewProforma" class="titre">{{'Créer une proforma' | traduction}}</h1>

    <div class="first-step">
        <div class=" page-contenu ">
            <div class="row">
                <div class="col-lg-12">

                    <p>
                        {{'Informations' | traduction}}
                    </p>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Date" | traduction}}</span>
                                <input readonly type="date" [ngModel]="proforma.date | date:'yyyy-MM-dd'" (ngModelChange)="proforma.date = $event" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Commercial" | traduction}}</span>
                                <input readonly [value]="proforma.commercial.noms + ' ' + proforma.commercial.prenoms" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Client" | traduction}}</span>
                                <input readonly [value]="proforma.client.nom" class="form-control">
                            </div>
                        </div>
                        <div style="display: none" class="col-lg-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text">{{"Montant" | traduction}}</span>
                                <input readonly [(ngModel)]="proforma.montant" type="number" class="form-control">
                                <button class="btn btn-primary">
                                    XAF
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="">
                        <div class="">
                            <div class=" page-contenu ">
                                <div class="mt-4">
                                    <div class="">
                                        <table class="table row-border hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>{{"Produit" | traduction}}</th>
                                                    <th>{{"Début" | traduction}}</th>
                                                    <th>{{"Fin" | traduction}}</th>
                                                    <th style="text-align: right;">{{'Quantité' | traduction}}</th>
                                                    <th style="text-align: right;">{{'P.U' | traduction}}</th>
                                                    <th style="text-align: right;">{{'Total' | traduction}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let ligne of proforma.lignes">
                                                    <td>{{ligne.produit.nom }}</td>
                                                    <td>{{ligne.debut | date: 'yyyy-MM-dd'}}</td>
                                                    <td>{{ligne.fin | date: 'yyyy-MM-dd'}}</td>
                                                    <td style="text-align: right;">{{ligne.quantite }}</td>
                                                    <td style="text-align: right;">{{getPU(ligne, proforma.client) | nombre}}</td>
                                                    <td style="text-align: right;">{{getTotalLigne(ligne, proforma.client) | nombre}}</td>

                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="5">{{"Total" | traduction}}</th>

                                                    <th style="text-align: right;">{{getTotal(proforma.client) | nombre}}</th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <button [routerLink]="'/proforma/print/' + proforma.id" class="btn btn-primary">{{'Imprimer la proforma' | traduction}}</button>
            </div>
        </div>

    </div>

</div>