<div class="container-fluid" style="margin-top: 16px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>{{'Accueil' | traduction}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'Tableau de bord' | traduction}}</li>
        </ol>
    </nav>
    <h1>{{'Tableau de bord' | traduction}}</h1>
    <div class="col-lg-4">
        <div class="input-group mb-3">
            <span class="input-group-text">{{"Année" | traduction}}</span>
            <select [(ngModel)]="annee" class="form-control">
                <option [value]="2022">2022</option>
                <option [value]="2023">2023</option>
            </select>
            <button (click)="refreshAll()" class="btn btn-primary">
                Générer
            </button>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>{{'Date' | traduction}}</th>
                            <th>{{'ID' | traduction}}</th>
                            <th>{{"Commercial" | traduction}}</th>
                            <th>{{'Client' | traduction}}</th>
                            <th style="text-align: right;">{{'Montant' | traduction}}</th>
                            <th style="text-align: center;">{{'Validée' | traduction}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proforma of proformas" (click)="edit(proforma)">
                            <td>{{proforma.date | date: 'yyyy-MM-dd'}}</td>
                            <td>{{proforma.id}}</td>
                            <td>{{proforma.commercial.noms}} {{proforma.commercial.prenoms}}</td>
                            <td>{{proforma.client.nom}}</td>
                            <td style="text-align: right;">{{proforma.montant | nombre}}</td>
                            <td style="text-align: center;">
                                <input *ngIf="!proforma.validee" type="checkbox">
                                <input *ngIf="proforma.validee" type="checkbox" checked="checked">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>